.floating-panel {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate(-8%,-50%);
  width: 210px;
  height: 550px;
  background-color: #e8eaed;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;


} 

h1 { 
  /* custom font ttf */
  font-family: 'DisneyFont';



}

.boxplot_div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-70%);
  width: 242px;
  height: 700px;
  background-color: #f1f1f1;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
} 

.floating-panel-2 {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 250px;
  height: 720px;
  background-color: #f1f1f1;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
} 


#my_dataviz {
  position: absolute;
  top: 50%;
  left: 50%;
   transform: translate(-50%, -50%);
}
       
  
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    outline: none;
    transition: background-color 0.3s;
  }
  
  input[type="checkbox"][name="PETER PANS FLIGHT"]:checked {
    background-color: #00CED1;
  }

  input[type="checkbox"][name="JUNGLE CRUISE"]:checked {
    background-color: #FF1493;
  } 

  input[type="checkbox"][name="BIG THUNDER MOUNTAIN"]:checked {
    background-color: #FFD700;
  }
  input[type="checkbox"][name="SEVEN DWARFS MINE TRAIN"]:checked {
    background-color: #008080;
  }       

  input[type="checkbox"][name="SPACE MOUNTAIN"]:checked {
    background-color: #800000;
  }

  input[type="checkbox"][name="TOWER OF TERROR"]:checked {
    background-color: #FFC0CB;
  }
  
  input[type="checkbox"][name="MICKEY MINNIE RUNAWAY RAILWAY"]:checked {
    background-color: #000080;
  }
 
  input[type="checkbox"][name="RISE OF RESISTANCE"]:checked {
    background-color: #008000;
  }

  input[type="checkbox"][name="SLINKY DOG DASH"]:checked {
    background-color: #800080;
  }

  input[type="checkbox"][name="FROZEN EVER AFTER"]:checked {
    background-color: #FF00FF;
  }

  input[type="checkbox"][name="TEST TRACK"]:checked {
    background-color: #FFA500;
  }

  input[type="checkbox"][name="REMYS RATATOUILLE ADVENTRUE"]:checked {
    background-color: #00FFFF;
  }

  input[type="checkbox"][name="AVATAR NAVI RIVER"]:checked {
    background-color: #0000FF;
  }

  input[type="checkbox"][name="KILAMANJARO SAFARIS"]:checked {
    background-color: #FFFF00;
  }

  input[type="checkbox"][name="AVATAR FLIGHT PASSAGE"]:checked {
    background-color: #00FF00;
  }

  input[type="checkbox"][name="EXPEDITION EVEREST"]:checked {
    background-color: #FF0000;
  }

  input[type="checkbox"][name="animalkingdom"]:checked {
    background-color: #000000;
  }

  input[type="checkbox"][name="epcot"]:checked {
    background-color: #000000;
  }

  input[type="checkbox"][name="hollywoodstudios"]:checked {
    background-color: #000000;
  }

  input[type="checkbox"][name="magickingdom"]:checked {
    background-color: #000000;
  }

        

.title-panel {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -35%);
  width: 700px;
  height: 75px;
  background-color: #e8eaed; 
  /* background-color: #2acfffff; */
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 20px;
}

.title-panel1 {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -35%);
  width: 700px;
  height: 75px;
  background-color: #f1f1f1; 
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}
#map {
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}


table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

th {
  background-color: #4CAF50;
  color: white;
}